/* .image-container {
   width: 300px;
   border: 2px solid red;
}
.image-container > div {
   position: unset !important;
}

.image {
   object-fit: contain;
   width: 300px !important;
   position: relative !important;
   height: unset !important;
} */
